*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: gordita,Helvetica,sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

header{
    background-color: #e51937;
    min-height: 10vh;
}

#main-movies{

}

.moviesList {
    padding-top: 3rem;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.moviesList div{
    margin-top: 2rem;
}

img{
    height: 90%;
    width: 100%;
}

h2{
    width: 90%;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
}